
.enlace-salir{
    margin-right: 10px;
    font-family: 'Agency FB Bold', arial;
    font-size: 20px;
    cursor: pointer;
    font-weight: 500;
    margin-top: 4px;
}

.enlace-salir:hover{
    color: #81e0ff !important;
    text-decoration-line: underline !important;
}