.main{
    min-height: calc(100vh - 270px);
}

.contenedor-galeria{
    width: 250px;
    height: 100px;
    background: linear-gradient(5deg, rgb(191, 215, 245) 0%,rgb(176, 210, 239) 50%,rgb(191, 214, 232) 100%);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: inset -3px -3px 26px -13px rgb(138, 133, 133);
}

.contenedor-galeria:active{
    box-shadow: inset 3px 3px 26px -13px rgb(138, 133, 133);
}

.columna{
    display: flex;
    justify-content: center;
}

.texto-caja{
    margin: 0;
    font-size: x-large;
}

.volver-boton{
    background: linear-gradient(5deg, rgb(191, 215, 245) 0%,rgb(176, 210, 239) 50%,rgb(191, 214, 232) 100%);
    border: 2px solid rgb(207, 225, 241);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 26px -13px rgb(138, 133, 133);
}

.volver-boton:active{
    box-shadow: inset 3px 3px 26px -13px rgb(138, 133, 133);
}