.contenedor-galeria{
    width: 250px;
    height: 100px;
    background-color: rgb(255, 228, 169);
    margin-top: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    cursor: pointer;
    box-shadow: inset -7px -7px 26px -13px rgb(138, 133, 133);
}

.contenedor-galeria:active{
    box-shadow: inset 7px 7px 26px -13px rgb(138, 133, 133);
}

.columna{
    display: flex;
    justify-content: center;
}

.texto-caja{
    margin: 0;
    font-size: x-large;
}

.volver-boton{
    background-color: rgb(247, 234, 174);
    border: 2px solid rgb(199, 192, 156);
    width: 80px;
    height: 40px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: inset -3px -3px 26px -13px rgb(138, 133, 133);
}

.volver-boton:active{
    box-shadow: inset 3px 3px 26px -13px rgb(138, 133, 133);
}