<section>
    <div class="row justify-content-around">

        <div class="col-4">
            <div class="borde-form">
                <h2 class="titulo-form">Crear Usuario</h2>
                <form class="centrado" [formGroup] = "formAddUsuario">
        
                    <div class="contenedor-input">
                        <div class="contenedor-input-titulo">
                            <label class="input-titulo">Usuario</label>
                        </div>
                        <div class="contenedor-input-entrada">
                            <input class="input-entrada" type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
        
                    <div class="contenedor-input">
                        <div class="contenedor-input-titulo">
                            <label class="input-titulo">Clave</label>
                        </div>
                        <div class="contenedor-input-entrada">
                            <input class="input-entrada" type="text" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
        
                    <div class="contenedor-input">
                        <div class="contenedor-input-titulo">
                            <label class="input-titulo">Repetir Clave</label>
                        </div>
                        <div class="contenedor-input-entrada">
                            <input class="input-entrada" type="text" [(ngModel)]="Rclave" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
        
                    <div class="error-login error-texto" [innerHtml]="htmlToAdd"></div>
        
                    <button class="btn btn-success mb-4 mt-4" (click)="agregarUsuario()">Añadir</button>
                </form>
            </div>
        </div>
        
        <div class="col-7">
            <h1 class="titulo-tabla">Lista de usuarios</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="col-titulo">Usuario</th>
                        <th scope="col" class="col-opc">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let usuario of usuarios; let i = index">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td class="col-titulo">{{usuario.usuario}}</td>
                        <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarUsuario(usuario.id_usuario)">Borrar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>