<h1 class="titulo">Lista de usuarios</h1>
<table class="table table-hover table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col" class="col-titulo">Usuario</th>
            <th scope="col" class="col-opc">Fecha</th>
            <th scope="col" class="col-opc">Opciones</th>
        </tr>
    </thead>
    <tbody *ngFor="let usuario of usuarios; let i = index">
        <tr>
            <th scope="row">{{i+1}}</th>
            <td class="col-titulo">{{usuario.usuario}}</td>
            <td class="col-opc">{{usuario.id_usuario}}</td>
            <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarUsuario(usuario.id_usuario)">Borrar</button></td>
        </tr>
    </tbody>
</table>

<div class="linea-separacion"></div>

<div class="row">
    <div class="col">
        <h2 class="titulo">Crear Usuario</h2>
        <form class="centrado" [formGroup] = "formAddUsuario">

            <div class="contenedor-input">
                <div class="contenedor-input-titulo">
                    <label class="input-titulo">Usuario</label>
                </div>
                <div class="contenedor-input-entrada">
                    <input class="input-entrada" type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}">
                    <p class="ml-2">*</p>
                </div>
            </div>

            <div class="contenedor-input">
                <div class="contenedor-input-titulo">
                    <label class="input-titulo">Clave</label>
                </div>
                <div class="contenedor-input-entrada">
                    <input class="input-entrada" type="text" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}">
                    <p class="ml-2">*</p>
                </div>
            </div>

            <div class="contenedor-input">
                <div class="contenedor-input-titulo">
                    <label class="input-titulo">Repetir Clave</label>
                </div>
                <div class="contenedor-input-entrada">
                    <input class="input-entrada" type="text" [(ngModel)]="Rclave" [ngModelOptions]="{standalone: true}">
                    <p class="ml-2">*</p>
                </div>
            </div>

            <div class="d-flex contenedor-terminos">
                <input class="checkbox-terminos" type="checkbox" [(ngModel)]="check" [ngModelOptions]="{standalone: true}">
                <p class="texto-terminos">Acepto <strong>terminos y condiciones</strong></p>
            </div>

            <div class="error-login error-texto" [innerHtml]="htmlToAdd"></div>

            <button class="btn btn-success mb-4 mt-3" (click)="agregarUsuario()">Añadir</button>
        </form>
    </div>
</div>

<div class="linea-separacion"></div>