<section>
    <div class="row justify-content-around">

        <div class="col-4">
            <div class="borde-form">
                <h2 class="titulo-form">Crear Galeria</h2>
                <form class="centrado" [formGroup] = "formAddGaleria">
        
                    <div class="contenedor-input">
                        <div class="contenedor-input-titulo">
                            <label class="input-titulo">Titulo</label>
                        </div>
                        <div class="contenedor-input-entrada">
                            <input class="input-entrada" type="text" [(ngModel)]="tituloGaleria" [ngModelOptions]="{standalone: true}">
                        </div>
                    </div>
        
                    <div class="contenedor-input">
                        <div class="contenedor-input-titulo">
                            <label class="input-titulo">Imagenes:</label>
                        </div>
                        <div class="tabla-imagenes">
                            <img class="m-2" *ngFor="let imagen of imagenesUrlGaleria; let i = index" [src]="imagen" (click)="deleteImageGaleria(i)" style="width: 50px; height: 50px;cursor: not-allowed;" />
                        </div>
                        <input type="file" #imageUpload accept="image/*" style="display: none"/>
                        <button type="button" class="btn btn-primary" (click)="openImageGaleria()">Elegir imagen</button>
                    </div>
                    <button class="btn btn-success mb-4 mt-3" (click)="agregarGaleria()">Guardar</button>
                </form>
            </div>
        </div>
        
        <div class="col-7">
            <h1 class="titulo-tabla">Lista de Galerias</h1>
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col" class="col-titulo">Galeria</th>
                        <th scope="col" class="col-opc">Opciones</th>
                    </tr>
                </thead>
                <tbody *ngFor="let galeria of galerias; let i = index">
                    <tr>
                        <th scope="row">{{i+1}}</th>
                        <td class="col-titulo">{{galeria.titulo}}</td>
                        <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarGaleria(galeria.id_galeria)">Borrar</button></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</section>

