<section *ngIf="user" class="panel-container">
    <div class="panel-izquierdo">
        <button (click)="activarNoticias()">Noticias</button>
        <button (click)="activarGalerias()">Galerias</button>
        <button (click)="activarUsuarios()">Usuarios</button>
        <button (click)="activarTags()">Etiquetas</button>
    </div>
    <div class="panel-derecho">
        <div *ngIf="panelNoticia"><app-panel-noticias></app-panel-noticias></div>
        <div *ngIf="panelGaleria"><app-panel-galerias></app-panel-galerias></div>
        <div *ngIf="panelUsuario"><app-panel-usuarios></app-panel-usuarios></div>
        <div *ngIf="panelTag"><app-panel-tags></app-panel-tags></div>
    </div>
</section>