<div *ngIf="user">

    <h1 class="titulo">Lista de usuarios</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-titulo">Usuario</th>
                <th scope="col" class="col-opc">Fecha</th>
                <th scope="col" class="col-opc">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let usuario of usuarios; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td class="col-titulo">{{usuario.usuario}}</td>
                <td class="col-opc">{{usuario.id_usuario}}</td>
                <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarUsuario(usuario.id_usuario)">Borrar</button></td>
            </tr>
        </tbody>
    </table>

    <div class="linea-separacion"></div>

    <div class="row">
        <div class="col">
            <h2 class="titulo">Crear Usuario</h2>
            <form class="centrado" [formGroup] = "formAddUsuario">

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Usuario</label>
                    </div>
                    <div class="contenedor-input-entrada">
                        <input class="input-entrada" type="text" [(ngModel)]="usuario" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2">*</p>
                    </div>
                </div>

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Clave</label>
                    </div>
                    <div class="contenedor-input-entrada">
                        <input class="input-entrada" type="text" [(ngModel)]="clave" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2">*</p>
                    </div>
                </div>

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Repetir Clave</label>
                    </div>
                    <div class="contenedor-input-entrada">
                        <input class="input-entrada" type="text" [(ngModel)]="Rclave" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2">*</p>
                    </div>
                </div>

                <div class="d-flex contenedor-terminos">
                    <input class="checkbox-terminos" type="checkbox" [(ngModel)]="check" [ngModelOptions]="{standalone: true}">
                    <p class="texto-terminos">Acepto <strong>terminos y condiciones</strong></p>
                </div>

                <div class="error-login error-texto" [innerHtml]="htmlToAdd"></div>

                <button class="btn btn-success mb-4 mt-3" (click)="agregarUsuario()">Añadir</button>
            </form>
        </div>
    </div>

    <div class="linea-separacion"></div>

    <h1 class="titulo">Lista de Noticias</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-titulo">Titulo</th>
                <th scope="col" class="col-opc">Usuario</th>
                <th scope="col" class="col-opc">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let noticia of noticias; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td class="col-titulo">{{noticia.titulo}}</td>
                <td class="col-opc">{{noticia.id_usuario}}</td>
                <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarNoticia(noticia.id_noticia)">Borrar</button></td>
            </tr>
        </tbody>
    </table>

    <div class="linea-separacion"></div>

    <div class="row">
        <div class="col">
            <h2 class="titulo">Crear noticia</h2>
            <form class="centrado" [formGroup] = "formAddNoticia">

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Titulo</label>
                    </div>
                    <div class="contenedor-input-entrada">
                        <input class="input-entrada" type="text" [(ngModel)]="tituloNoticia" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2">*</p>
                    </div>
                </div>

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Cuerpo</label>
                    </div>
                    <div class="contenedor-input-entrada">
                        <textarea class="input-entrada descripcion" [(ngModel)]="cuerpo" [ngModelOptions]="{standalone: true}"></textarea>
                        <p class="ml-2">*</p>
                    </div>
                </div>

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Tags:</label>
                    </div> 
                    <div class="input-titulo">
                        <p *ngFor="let tag of tags">&nbsp; {{tag.id_tag}}.{{tag.etiqueta}}</p>
                    </div>
                    <p class="input-titulo">Ingrese el numero de la etiqueta: (separados por comas)</p>
                    <textarea class="input-entrada" [(ngModel)]="tagsIdNoticia" [ngModelOptions]="{standalone: true}"></textarea>
                </div>

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Imagenes:</label>
                    </div>
                    <div class="tabla-imagenes">
                        <img class="m-2" *ngFor="let imagen of imagenesUrlNoticia; let i = index" [src]="imagen" (click)="deleteImage(i)" style="width: 50px; height: 50px;cursor: not-allowed;" />
                    </div>
                    <input type="file" #imageUpload accept="image/*" style="display: none"/>
                    <button type="button" class="btn btn-primary" (click)="openImageNoticia()">Elegir imagen</button>
                </div>

                <button class="btn btn-success mb-4 mt-3" (click)="agregarNoticia()">Guardar</button>
            </form>
        </div>
    </div>

    <div class="linea-separacion"></div>


    <h1 class="titulo">Lista de Tags</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-titulo">Tag</th>
                <th scope="col" class="col-opc">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let tag of tags; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td class="col-titulo">{{tag.etiqueta}}</td>
                <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarTag(tag.id_tag)">Borrar</button></td>
            </tr>
        </tbody>
    </table>

    <div class="linea-separacion"></div>

    <div class="row">
        <div class="col">
            <h2 class="titulo">Crear Tag</h2>
            <form class="centrado" [formGroup] = "formAddTag">

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Etiqueta</label>
                    </div>
                    <div class="contenedor-input-entrada">
                        <input class="input-entrada" type="text" [(ngModel)]="etiqueta" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2">*</p>
                    </div>
                </div>

                <button class="btn btn-success mb-4 mt-3" (click)="agregarTag()">Guardar</button>
            </form>
        </div>
    </div>

    <div class="linea-separacion"></div>

    <h1 class="titulo">Lista de Galerias</h1>
    <table class="table table-hover table-dark">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" class="col-titulo">Galeria</th>
                <th scope="col" class="col-opc">Opciones</th>
            </tr>
        </thead>
        <tbody *ngFor="let galeria of galerias; let i = index">
            <tr>
                <th scope="row">{{i+1}}</th>
                <td class="col-titulo">{{galeria.titulo}}</td>
                <td class="col-opc"><button class="btn btn-warning mr-2">Editar</button><button class="btn btn-danger" (click)="borrarGaleria(galeria.id_galeria)">Borrar</button></td>
            </tr>
        </tbody>
    </table>

    <div class="linea-separacion"></div>

    <div class="row">
        <div class="col">
            <h2 class="titulo">Crear Galeria</h2>
            <form class="centrado" [formGroup] = "formAddGaleria">

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Titulo</label>
                    </div>
                    <div class="contenedor-input-entrada">
                        <input class="input-entrada" type="text" [(ngModel)]="tituloGaleria" [ngModelOptions]="{standalone: true}">
                        <p class="ml-2">*</p>
                    </div>
                </div>

                <div class="contenedor-input">
                    <div class="contenedor-input-titulo">
                        <label class="input-titulo">Imagenes:</label>
                    </div>
                    <div class="tabla-imagenes">
                        <img class="m-2" *ngFor="let imagen of imagenesUrlGaleria; let i = index" [src]="imagen" (click)="deleteImageGaleria(i)" style="width: 50px; height: 50px;cursor: not-allowed;" />
                    </div>
                    <input type="file" #imageUpload accept="image/*" style="display: none"/>
                    <button type="button" class="btn btn-primary" (click)="openImageGaleria()">Elegir imagen</button>
                </div>

                <button class="btn btn-success mb-4 mt-3" (click)="agregarGaleria()">Guardar</button>
            </form>
        </div>
    </div>

    <div class="linea-separacion"></div>

</div>