<section *ngIf="user" class="panel-container">
    <div class="panel-izquierdo">
        <a class="boton-panel" (click)="activarNoticias()">Noticias</a>
        <a class="boton-panel" (click)="activarGalerias()">Galerias</a>
        <a class="boton-panel" (click)="activarUsuarios()">Usuarios</a>
        <a class="boton-panel" (click)="activarTags()">Etiquetas</a>
    </div>
    <div class="panel-derecho">
        <div *ngIf="panelNoticia"><app-panel-noticias></app-panel-noticias></div>
        <div *ngIf="panelGaleria"><app-panel-galerias></app-panel-galerias></div>
        <div *ngIf="panelUsuario"><app-panel-usuarios></app-panel-usuarios></div>
        <div *ngIf="panelTag"><app-panel-tags></app-panel-tags></div>
    </div>
</section>